body{
    background-color: #ffffff;
    height: 100%;
    width: 100%;
}
.container{
    width: 100%;
    height: auto;
    background-color:red;
}
.titulo{
    background-color:#c40303; 
    border-radius: 10px;
    text-align: center;
    height: auto;

}
.header{
    background-color: #ff7575;
    height: auto;
    width: 99%;
    border-radius: 10px;
}
.button{
    background-color: #c40303;
    border-radius: 10px;
    margin-left: 10px;
    height: 45px;
    text-align: center;
    vertical-align: auto;
    font-size: 20px;
}
div.org{
    display: inline-flex;
}
.footer {
    text-align: center;
    height: 90px;
    width:100%;
    background-color: #636363;
}
.carousel-item{
    height: 100%;  
    width: 100%;  
}