.titulo{
    color: rgb(236, 78, 78);
    font-size: 40px;
}
.corpo{
    background-color: brown;
    width: 100%;
    height: auto;
    text-align: center;
    border: 1px solid black;
}
td{
    border: 3px solid black;
}
.bt{
    font-weight: bold;
}